/* 1. Use a more-intuitive box-sizing model */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* 2. Remove default margin */
* {
  margin: 0;
}

body {
  /* 3. Add accessible line-height */
  line-height: 1.5;
  /* 4. Improve text rendering */
  -webkit-font-smoothing: antialiased;
}

/* 5. Improve media defaults */
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

/* 6. Inherit fonts for form controls */
input,
button,
textarea,
select {
  font: inherit;
}

/* 7. Avoid text overflows */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

/* 8. Improve line wrapping */
p {
  text-wrap: pretty;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

/*
  9. Create a root stacking context
*/
#root,
#__next {
  isolation: isolate;
}

@import url("https://fonts.googleapis.com/css2?family=Raleway:ital@0;1&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bitter:ital,wght@0,100..900;1,100..900&family=Raleway:ital@0;1&display=swap");

:root {
  --dark-bg: #141618;
  --dark-bg-alt: #2b2f34;

  --light-text: #faf9f6;
  --accent-text: #ffb700;

  --font-primary: "Raleway", sans-serif;
  --font-alt: "Bitter", serif;
}

html {
  box-sizing: border-box;
  background-color: var(--dark-bg);
}

body {
  color: var(--light-text);

  font-family: var(--font-primary);

  --padding-inline: 1rem;
  --content-max-size: 900px;
  --breakout-max-size: 1200px;

  --breakout-size: calc(var(--breakout-max-size) - (var(--content-max-size) / 2));

  display: grid;

  grid-template-columns:
    [full-width-start]
    minmax(var(--padding-inline), 1fr)
    [breakout-start]
    minmax(0, var(--breakout-size))
    [content-start]
    min(100% - (var(--padding-inline) * 2), var(--content-max-size))
    [content-end]
    minmax(0, var(--breakout-size))
    [breakout-end]
    minmax(var(--padding-inline), 1fr)
    [full-width-end];
}

.content-grid > :not(.breakout, .full-width),
.full-width > :not(.breakout, .full-width, .header__nav) {
  grid-column: content;
}

.content-grid .breakout {
  grid-column: breakout;
}

.content-grid > .full-width {
  grid-column: full-width;
  display: grid;
  grid-template-columns: inherit;
}

.header {
  position: relative;
  background-image: url(./assets//images/Adam_Batston-7.jpg);
  background-size: cover;
  background-position: center; /* Keep the image centered */
  background-repeat: no-repeat;
  height: 45vh;
}

.header__nav {
  position: relative;
  top: -100rem;
  background: var(--dark-bg);
  height: 55%;
  transition: top 0.35s ease;
  grid-column: full-width;
}

.header__nav.active {
  display: block;
  top: 0;
}

.header__list {
  display: none;
  text-transform: uppercase;
  gap: 1.5rem;
  text-align: center;
  padding-left: 0;
}

.header__nav.active .header__list {
  display: grid;
}

/*
.header__list {
  display: grid;
  grid-template-columns: repeat(4, auto);
  gap: 4rem;
  justify-content: end;
  padding-left: 0;
}
*/

.header__link {
  list-style-type: none;
}

.header__link a {
  list-style-type: none;
  text-decoration: none;
  color: var(--light-text);
}

.header__link:first-of-type {
  margin-top: 2.8rem;
}

.menu-icon {
  position: absolute;
  z-index: 99;
  right: 1rem;
  width: 35px;
  margin-top: 1.1rem;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 25px;
  background-color: transparent;
  border: none;
}

.menu-icon span {
  display: block;
  height: 3px;
  width: 100%;
  background-color: var(--light-text);
  border-radius: 2px;
  transition: all 0.3s ease;
}

/*

.menu-icon.active span {
  right: 10px;
}

.menu-icon.active span:nth-child(1) {
  transform: rotate(45deg) translate(0, 0); 
}

.menu-icon.active span:nth-child(2) {
  opacity: 0;
}

.menu-icon.active span:nth-child(3) {
  transform: rotate(-45deg) translate(0, 0);
}

*/
